.hero{
    background-color: rgb(17, 17, 52);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 2rem;
}

.firstName{
    margin-left: 15px;
    color: white;
    font-size: 65px;
}

.name{
    margin-left: 15px;
    background: linear-gradient(to right,   rgb(231, 68, 117),   rgb(227, 21, 83));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 65px;
}

.content p{
    width: 550px;
    font-size: 22px;
    margin: 15px;
    color: rgb(180, 178, 178);
}

.btns{
    display: flex;
    margin-left: 15px;
    gap: 25px;
}

.btns .btnFirst{
    width: 145px;
    height: 55px;
    background-color:rgb(231, 68, 117) ;
    padding: 18px 25px;
    text-decoration: none;
    border: none;
    color: white;
    font-weight: 450;
    border-radius: 25px;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
}

.btns .btnSecond{
    width: 145px;
    height: 55px;
    padding: 16px 5px 0px 40px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 500;
    background-color: rgba(255, 255, 255, 0.067);
    border: 2px solid rgb(231, 68, 117);
    border-radius: 25px;
    cursor: pointer;
   transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
}

.btns .btnFirst:hover{
    color: black;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(231, 68, 117);
    transform: scale(1.1);
}

.btns .btnSecond:hover{
    color: black;
    background-color: white;
    border: 3px solid rgb(231, 68, 117);
    transform: scale(1.1);
}

.imagem{
    position: relative;
    width: 450px;
    height: 550px;
    background-color: rgb(231, 68, 117);
    border-radius: 60% 40% 55% 45% / 50% 60% 40% 50%;
    box-shadow: 0px 0px 40px 10px rgba(231, 68, 117, 0.4);
    margin: 1rem 7rem 4rem 0rem;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.imagem img{
    width: 80%;
    height: 80%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.imagem img:hover{
    transform: scale(1.1);
}

.socialMedia{
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 17px 9px 0px;
    gap: 15px;
}

.socialMedia .icon img{
    width: 30px;
    height: 35px;
    filter: brightness(0) invert(1);
    transition: transform 0.3s ease;
}

.socialMedia .icon img:hover{
    filter: brightness(0) saturate(100%) invert(27%) sepia(89%) saturate(1234%) hue-rotate(316deg);
    transform: scale(1.1);
}
