@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.navbar{
    background-color: rgb(17, 17, 52);
    color: white;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-family: "Poppins", sans-serif;
}

@media screen and (max-width: 640px) {
    .navbar ul{
        display: none;
    }
}

.navbar h1{
    background-color: white;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Poppins", sans-serif;
    font-weight:900;
    font-size: 40px;
    padding: 15px 0px 10px 20px;
}

.navbar .ponto{
    background-color:  rgb(227, 21, 83);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.navbar ul{
    display: flex;
    list-style: none;
    gap: 3rem;
    padding: 27px 50px 10px 15px;
}

.navbar li{
    font-family: "Poppins", sans-serif;
    font-size: 17px;
    transition: 0.3s ease;
}

.navbar li a{
    color: white;
    font-size: 17px;
    text-decoration: none;
}

.navbar li a:hover{
    color: #ff5ac2;
}